<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="profile">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Huay Website</title>
    <link rel="stylesheet" href="/public/styles.css">
    <!--Add Favicon Icon => https://www.favicon.cc/-->
    <link rel="icon" href="/favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
    <!--Reference Social Media Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        body {
            background-image: url('image/02.jpeg');
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>

<body>
    <h1>ผลสลากกินแบ่งรัฐบาล</h1>
    <h2>ถูกเดียวที่ชัวร์ คือ ถูกแดก</h2>
    <h3>ซื้อไปก็ไม่ถูกหรอก นอกจากถูกแดก แบร่ๆ</h3>
    <main>
        <!-- Navigation Bar -->
        <header>
            <nav>
                <img class="logo" src="/public/image/email.svg" alt="Email">
                <div class="links">
                    <a href="#">About</a>
                    <a href="#">Docs</a>
                    <button class="button_med" href="#">Login</button>
                </div>
            </nav>
        </header>
        <!-- Contents -->
        <section class="info">
            <h1 class="content_font1">
                <%=contentfont1 %>
            </h1>
            <h4 class="content_font2">
                <%=contentfont2 %>
            </h4>
            <div class="icons">
                <div class="icon">
                    <img src="/image/email.svg" alt="email">
                    <p class="icon_info">ajnesttheseries@gmail.com</p>
                </div>
                <div class="icon">
                    <img src="/images/facebook.svg" alt="facebook">
                    <p class="icon_info">Aj. NesT the Series</p>
                </div>
        </section>
        <!-- Feature Bar -->

    </main>
</body>

</html>