<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="profile">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Huay Website</title>
    <link rel="stylesheet" href="/style.css">
    <!--Add Favicon Icon => https://www.favicon.cc/-->
    <link rel="icon" href="img/favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
    <!--Reference Social Media Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        body {
            background-image: url('img/002.png');
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>

<body>
    <!--Header-->
    <!--Menu-->
    <!--The Content Division element-->
    <!--Inline CSS => 1st Priority-->
    <div class="top-container">
        <div class="table-menu">
            <table>
                <tr>
                    <td>

                        <h3><a href=" profile.ejs ">Profile</a></h3>
                    </td>
                    <td>
                        <h3><a href="abilities.html" ;>ตรวจหวย</a>
                        </h3>
                    </td>

                    <!--Crop Circle Image: https://crop-circle.imageonline.co/-->
                    <th <p>
                        <a href="https://www.youtube.com/watch?v=6RevLb5J3T4" class="fa fa-youtube " style="font-size: 60px; color: red; "></a>
                        <a &ensp; href="https://www.youtube.com/watch?v=9W1ED5mxFRw " class="fa fa-facebook-square " style="font-size: 60px; color: rgb(255, 7, 7); "></a>
                        <a &ensp: href="https://www.youtube.com/watch?v=NUdNjOFfATU" class="fa fa-instagram " style="font-size: 60px; color: rgb(255, 0, 0); "></a>
                        <a &ensp; href="https://www.youtube.com/watch?v=Gd_IlI8-hMo" class="fa fa-twitter " style="font-size: 60px; color: rgb(255, 0, 0); "></a>
                        </p>
                    </th>
                </tr>
            </table>
        </div>
    </div>



    <h1>▁ ▂ ▃ ▄ ▅ ▆ ▇ █ &ensp; HUAY ONLINE &ensp; █ ▇ ▆ ▄ ▃ ▂ ▁ </h1>
    <h2>ผลฉลากกินแบ่งรัฐบาล <span class="name "> &ensp; ถูกเดียวที่ชัวร์ คือ ถูกแดก &ensp; </span> </h2>
    <h4><i>"ดูไปก็ไม่ถูกหรอก นอกจาถูกแดก X_X "</i></h4>
    <hr>
    <div class="table-content ">
        <table>
            <tr>
                <th>
                    <h2> ♛ About me ♛ </h2>
                    <p class="p-Aboutme ">
                        <p>I'm a student of the Faculty of Engineering.</p>
                        <p>Major : Computer and Robotics.</p>
                        <br>
                        <h2>♛ SKILL ♛ </h2>
                        <p>Coding Languages : C,C++,Python,HTML</p>
                        <p>Frameworks/Systems : Visual Studio,Unity</p>
                        <br>
                        <h2>♛ HOBBY ♛ </h2>
                        <p>Drawing,Playing game,Watching cartoon</p>
                    </p>
                </th>
                <th>
                    <!--Crop Circle Image: https://crop-circle.imageonline.co/-->
                    <br><br><br><br>
                    <!--<p><img src="img/mm.gif " alt="MobmabPP " style=width="1500 " height="1000 "></p> -->
                </th>
                <th id="th-Details ">
                    <h2> ♛ Details ♛ </h2>
                    <p>Name:</p>
                    <p class="p-Name ">Piyarat Pimpisan (Mobmab)</p>
                    <p>Location:</p>
                    <p class="p-Name ">Thailand</p>
                    <br>
                    <p>Website: <a href=" https://www.MobmabPP.com/ ">MobmabPP.com</a>
                    </p>
                    <p>Email:
                        <a href=" mailto: mobmabpiyarat@gmail.com ">mobmabpiyarat@gmail.com</a>
                    </p>
                </th>
            </tr>
        </table>
    </div>
    <hr>
    <br><br>><br><br>
    <h5 class="p-Footer ">© 2022 MobmabPP <br>MobmabPP &ensp; &ensp; Piyarat Pimpisan &ensp; &ensp; 1630902284</h5>
</body>

</html>