<body>
    <!--Header-->
    <!--Menu-->
    <!--The Content Division element-->
    <!--Inline CSS => 1st Priority-->
    <div class="top-container">
        <div class="table-menu">
            <table>

                <tr>
                    <td>
                        <h3><a style="font-size: 30px; color: rgb(255, 7, 7); href=" index.html ">Profile</a></h3>
                    </td>
                    <td>
                        <h3><a style="font-size: 30px; color: rgb(255, 7, 7); href="abilities.html">Abilities</a>
                        </h3>
                    </td>
                    <td>
                        <h3>
                            <a style="font-size: 30px; color: rgb(255, 7, 7); href=" contact.html ">Contact</a></h3>
                    </td>
                    
                        <!--Crop Circle Image: https://crop-circle.imageonline.co/-->

              
                <th <p>
                    <a href="http://bit.ly/ajnesttheseriesSubscribe " class="fa fa-youtube " style="font-size: 60px; color: red; "></a>
                    <a &ensp; href="https://www.facebook.com/ajnesttheseries " class="fa fa-facebook-square " style="font-size: 60px; color: rgb(255, 7, 7); "></a>
                    <a &ensp: href="https://www.instagram.com/ajnesttheseries/ " class="fa fa-instagram " style="font-size: 60px; color: rgb(255, 0, 0); "></a>
                    <a &ensp; href="https://twitter.com/ajnesttheseries/ " class="fa fa-twitter " style="font-size: 60px; color: rgb(255, 0, 0); "></a>
                    </p>
                </th>
                </tr>
            </table>
        </div>
    </div>



    <th>
        <!--Crop Circle Image: https://crop-circle.imageonline.co/-->
        <br><br><br><br>
        <p><img src="img/mm.gif " alt="MobmabPP " style=width="1500 " height="1000 "></p>
    </th>
    <br><br>><br><br>
    <h5 class="p-Footer ">© 2022 MobmabPP <br>MobmabPP &ensp; &ensp; Piyarat Pimpisan &ensp; &ensp; 1630902284</h5>
</body>